# MongoDB Atlas connection string
MONGODB_URI=mongodb+srv://USER:PASS@cluster.mongodb.net/rubix?retryWrites=true&w=majority

# Token Contract
VITE_TOKEN_MINT=Eyf5KgQg9Z5vGUTpR4WigysK8UiLTNoioBogGAiCpump
VITE_STAKING_VAULT=2a5G5ZoEUTFWH5fT2AQ2MdB3u58BBnr8PfLei81XR8ne
VITE_TOKEN_SYMBOL=RUBIX
VITE_TOKEN_DECIMALS=6
VITE_SOLANA_RPC=https://solana-rpc.publicnode.com
